@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$light-grey: #eeeeee;
$red: #c80000;
$black: #1f2024;

body {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 18px;
	background: $light-grey;
	color: $black;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.rating-wrapper {
	max-width: 400px;
	margin: 80px auto;
	background: #fff;
	padding: 1em;
	border-radius: 3px;
	box-shadow: 0px 5px 15px rgba(0,0,0,.10);
	.rating-label {
		text-align:center;
		font-weight: 700;
		display: block;
	}
	.ratingItemList {
		max-width: 300px;
		margin:auto;
		display:flex;
		justify-content: space-between;
		padding: 1em 0;
	}
	input.rating {
		display:none;
	}
	label.rating {
  padding: 5px 3px;
  font-size: 32px;
  filter:grayscale(1);
		opacity:.7;
		cursor:pointer;
		&:hover {
			filter:grayscale(.84);
			transform:scale(1.1);
			transition:100ms ease;
		}
	}
	input.rating:checked+label.rating {
  filter:grayscale(0);
		opacity:1;
		transform:scale(1.1);
}
}

.feedback {
	width: 100%;
	display:none;
	textarea,input {
		max-width: 300px;
		width:100%;
		display:block;
		margin:.5em auto;
		padding: .5em;
		font-family: 'Source Sans Pro', Arial, sans-serif;
		border: 1px solid lighten($black, 70%);
		border-radius: 3px;
		&:focus, &:active {
			border-color: $red;
			box-shadow: 0px 0px 1px 1px $red;
			transition:100ms;
		}
	}
	textarea {
			height: 100px;
		}
	button {
		margin:1em auto;
		display: table;
		text-align:center;
	}
}

.cb911_logo {
		width: 250px;
		position:absolute;
	top: 1em;
	left: 50%;
	margin-left: -125px;
	}

button {
	color: lighten($black, 80%);
	background-color: lighten($black, 50%);
	border-radius: 3px;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	border: 0;
	padding: 9px 15px;
	font-size: 15px;
}

button.not-disabled {
	color: white;
	background-color: $red;
	text-shadow: 0px 1px 1px darken($red, 20%);
	cursor: pointer;
	&:hover {
		background-color: darken($red, 10%);
		transition: 100ms;
	}
}