img.cb911_logo(src="https://chargebacks911.com/wp-content/uploads/2017/04/CB911-logo-lightbg-RGB-1.svg")

form.rating-wrapper
	label.rating-label How helpful was this?
		.ratingItemList
			input.rating.rating-1#rating-1-2(type="radio",value="1", name="rating")
			label.rating.rating-1(for="rating-1-2")
				i.em.em-angry
			input.rating.rating-2#rating-2-2(type="radio",value="2", name="rating")
			label.rating.rating-2(for="rating-2-2")
				i.em.em-disappointed
			input.rating.rating-3#rating-3-2(type="radio",value="3", name="rating")
			label.rating.rating-3(for="rating-3-2")
				i.em.em-expressionless
			input.rating.rating-4#rating-4-2(type="radio",value="4", name="rating")
			label.rating.rating-4(for="rating-4-2")
				i.em.em-grinning
			input.rating.rating-5#rating-5-2(type="radio",value="5", name="rating")
			label.rating.rating-5(for="rating-5-2")
				i.em.em-heart_eyes
	.feedback
		textarea(placeholder="What can we do to improve?")
		input(type="text" placeholder="Email")
		button.submit Send Your Feedback